[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential

[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential

[user]
	name = Fabio Souza
  email = fabiohcsouza@outlook.com.br

[alias]
  st = status
  co = checkout
  br = branch
  cm = commit
  lg = log --oneline --graph --decorate

[diff]
  colorMoved = default

[merge]
  tool = nvim

[core]
	quotepath = false
	# delta as pager: syntax-highlighted diffs everywhere (git log/show/diff,
	# blame, etc.). lazygit picks this up automatically too.
	pager = delta

[interactive]
	diffFilter = delta --color-only

[delta]
	navigate = true            # n/N to jump between hunks
	light = false
	line-numbers = true
	syntax-theme = base16

[pager]
	delta = delta
