services:
  prometheus:
    image: ${PROMETHEUS_IMAGE}
    container_name: ${PROMETHEUS_CONTAINER_NAME}
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
      - prometheus_data:/prometheus
    ports:
      - "${PROMETHEUS_PORT}:9090"
    restart: unless-stopped
    networks:
      - monitoring-network
      - database-network

  postgres-exporter:
    image: ${POSTGRES_EXPORTER_IMAGE}
    container_name: ${POSTGRES_EXPORTER_CONTAINER_NAME}
    environment:
      DATA_SOURCE_URI: ${DATA_SOURCE_URI}
      DATA_SOURCE_USER: ${DATA_SOURCE_USER}
      DATA_SOURCE_PASS: ${DATA_SOURCE_PASS}
    restart: unless-stopped
    depends_on:
      - prometheus
    networks:
      - monitoring-network
      - database-network

  blackbox-exporter:
    image: ${BLACKBOX_EXPORTER_IMAGE}
    container_name: ${BLACKBOX_EXPORTER_CONTAINER_NAME}
    volumes:
      - ./blackbox.yml:/etc/blackbox_exporter/config.yml:ro
    restart: unless-stopped
    networks:
      - monitoring-network

  grafana:
    image: ${GRAFANA_IMAGE}
    container_name: ${GRAFANA_CONTAINER_NAME}
    environment:
      GF_SECURITY_ADMIN_USER: ${GRAFANA_ADMIN_USER}
      GF_SECURITY_ADMIN_PASSWORD: ${GRAFANA_ADMIN_PASSWORD}
    ports:
      - "${GRAFANA_PORT}:3000"
    volumes:
      - grafana_data:/var/lib/grafana
      - ./grafana/provisioning:/etc/grafana/provisioning:ro
      - ./grafana/dashboards:/var/lib/grafana/dashboards:ro
    restart: unless-stopped
    depends_on:
      - prometheus
      - blackbox-exporter
    networks:
      - monitoring-network

volumes:
  prometheus_data:
  grafana_data:

networks:
  monitoring-network:
    name: monitoring-network
    driver: bridge
  database-network:
    external: true
    name: database-network
